body {
	
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-image: url("background.jpg");
	background-size: cover;
	color: white;
	
}

#survey-form {
	background-image: url("form.jpg");
	border-radius: 10px;
	background: rgba(76, 175, 80, 0.3);
}
#title {
	    text-align: center;
}
#description {
	text-align: center;
}
.small {
	padding: 5%;
}